@font-face {
    font-family: 'Dodo Rounded v2';
    src: local('Dodo Rounded v2 Regular'), local('DodoRounded_v2-Regular'),
        url('~assets/fonts/DodoRounded_v2-Regular.woff2') format('woff2'),
        url('~assets/fonts/DodoRounded_v2-Regular.woff') format('woff'),
        url('~assets/fonts/DodoRounded_v2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dodo Rounded v2';
    src: local('Dodo Rounded v2 Medium'), local('DodoRounded_v2-Medium'),
          url('~assets/fonts/DodoRounded_v2-Medium.woff') format('woff'),
          url('~assets/fonts/DodoRounded_v2-Medium.woff2') format('woff2'),
          url('~assets/fonts/DodoRounded_v2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dodo Rounded v2';
    src: local('Dodo Rounded v2 Bold'), local('DodoRounded_v2-Bold'),
          url('~assets/fonts/DodoRounded_v2-Bold.woff') format('woff'),
          url('~assets/fonts/DodoRounded_v2-Bold.woff2') format('woff2'),
          url('~assets/fonts/DodoRounded_v2-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
