@import 'breakpoints';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $dodo-font;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: $dark;
  background-color: $white;
  // font-feature-settings: 'pnum' on, 'lnum' on;
  @include md- {
    font-size: 20px;
    line-height: 30px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

p br {
  display: block;
  content: '';
  margin: 24px;
}

.position__card-descr br,
.support .support__card-subtitle br,
.questions .questions__descr br {
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

input,
button {
  border: none;
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1360px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
  // @include lg- {
  //   max-width: 1044px;
  //   padding: 0 10px;
  // }
  //@include md- {
  //  padding: 0 40px;
  //}
  @include sm- {
    max-width: 100%;
    padding: 0 24px;
  }
}

.cite-container {
  overflow: hidden;
}
.content {
  flex-grow: 1;
  // min-height: calc(100vh - 24px);
}

.swiper {
  touch-action: pan-y;
}
.swiper-wrapper {
  display: flex;
}


input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
