$white: #fff;
$dark: #000;
$yellow: #efe41a;
$light-milk: #faefe1;
$purple: #c5a6cf;
$orange: #ed771e;
$hovered-orange: #ff6900;
$red: #e12b3f;

$dodo-font: 'Dodo Rounded v2', sans-serif;
//$dodo-variable-font: 'Dodo Rounded v2 Variable', sans-serif;
