$lg: 1920px;
$md-l: 1600px;      
$md: 1100px;      
$sm: 744px;
$xs: 375px;

@mixin -xl {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin -lg {
  @media (min-width: calc($lg - 1px)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin lg- {
  @media (max-width: calc($lg - 1)) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) and (max-width: calc($lg - 1px)) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) and (max-width: calc($md - 1px)) {
    @content;
  }
}

@mixin xl- {
  @media (max-width: calc($xl - 1px)) {
    @content;
  }
}

@mixin lg- {
  @media (max-width: calc($lg - 1px)) {
    @content;
  }
}

@mixin md- {
  @media (max-width: calc($md - 1px)) {
    @content;
  }
}
@mixin md-l- {
  @media (max-width: calc($md-l - 1px)) {
    @content;
  }
}
@mixin -md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin -md-l {
  @media (min-width: $md-l) {
    @content;
  }
}

@mixin -sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin sm- {
  @media (max-width: calc($sm - 1px)) {
    @content;
  }
}

@mixin xs- {
  @media (max-width: calc($xs - 1px)) {
    @content;
  }
}

@mixin height-sm {
  @media (min-width: $md) and (max-height: 812px) {
    @content;
  }
}
@mixin height-sm- {
  @media (max-width: $sm) and (max-height: 693px) {
    @content;
  }
}
@mixin sm-landscape {
  @media (max-width: 897px) and (orientation: landscape) {
    @content;
  }
}
