<template>
  <div>
    <AppHeader />
    <Nuxt class="content" />
    <AppFooter />
  </div>
</template>

<script>
import AppFooter from '@/components/AppFooter.vue'
import AppHeader from '@/components/AppHeader.vue'
export default {
  components: { AppHeader, AppFooter }
}
</script>

<style lang="scss" scoped>
</style>
